
html {
       background-color: lightblue;
}

h1 { 
      color: red;
      font-family: cursive;
      text-align: center;
}

h2 {
      color: black;
      font-family: sans-serif;
      text-align: center;
}

p {
     font-family: cursive;
     text-align: center;
}      


